@page "/reports"
@inject IReportService ReportService

<PageTitle>Reports</PageTitle>

<h1>All reports</h1>

@code {


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    
}
